/* CSS Reset */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
}

body {
    font-family: inherit;
}

/* Variables */
:root {
    --color-white: #fff;
    --color-light-white: #eee;

    --color-purple-transparent: rgba(88, 24, 69, .9);
    --color-pink-transparent: rgba(216, 14, 91, .9);

    --color-orange: #ff3c00;
    --color-ultraviolet: #7f1ae5;
    --color-tomato: #d40640;

    --color-light-black: #222;
    --color-black: #000;

    --shadow: rgba(0, 0, 0, .4);
}

.app {
    height: 100vh;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1468276311594-df7cb65d8df6?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80);
    background-size: cover;  

    display: flex;
    justify-content: center;
    align-items: center;
  }

.calculator {
    height: 80vh;
    width: 25%;
    box-shadow: 0 2rem 4rem var(--shadow);
    background-color: var(--color-white);
}

.result-screen {
    height: 19vh;
    font-size: 8rem;
    font-weight: 600;

    /* To display the value at the bvottom-right of the container */
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.computation-screen {
    height: 6vh;
    font-size: 2.5rem;

    /* To display the value at the bvottom-right of the container */
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.screen {
    height: 25vh;
    width: 100%;
    padding: 0 2rem;
    overflow: hidden;
    white-space: no-wrap;
    color: var(--color-light-white);
    background-color: var(--color-ultraviolet);
}

.keypad__row {
    height: 11vh; /* (80vh calculator - 25vh screen) / 5 keypadRow components = 11vh */
    width: 100%;
    display: flex; /* To control the dimension */
    color: white;
}

.keypad {
    height: 55vh;
    width: 100%;
}

.btn {
    width: 25%; /* Each row holds up to 4 buttons, so 100/4 gives us 25% width */
    height: 100%; 
    font-size: 3rem;
    font-family: inherit;
    background-color: var(--color-white);
    border: 1px solid transparent;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s;
}

.btn:hover {
    color: var(--color-light-white);
    background-color: var(--color-tomato);
}

.btn:active {
    transform: scale(.95);
}

.btn--large {
    width: 50%;
    color: var(--color-white);
    background-color: var(--color-ultraviolet);
    transition: all .2s;
}

.btn--large:hover {
    background-color: var(--color-white);
    color: var(--color-ultraviolet);
}